.template-list {
    overflow: auto;

    width: 100%;
    height: 100%;

    padding: 5px;
}

.template-name {
    font-size: 14px;
    font-weight: bold;

    color: #0078d7;
}

.template-description {
    font-size: 12px;    
}