.template-list-entry {
    padding: 5px 10px;

    &.selected {
        background: rgb(239, 246, 252);
    }

    user-select: none;
    cursor: pointer;

    .name {
        font-size: 14px;
        font-weight: bold;

        color: #0078d7;

        &.modified {
            font-style: italic;
        }

        &.new {
            font-style: italic;
        }
    }    

    .description {
        font-size: 12px;
    }
}